<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Application WEB affichant HelloWorld</display-name>

<servlet> 
    <servlet-name>ReparationServlet</servlet-name>
    <servlet-class>garage.amby.ReparationServlet</servlet-class> 
</servlet>
<servlet-mapping> 
    <servlet-name>ReparationServlet</servlet-name>
    <url-pattern>/repa</url-pattern>
</servlet-mapping>

<servlet> 
    <servlet-name>InsertReparation</servlet-name>
    <servlet-class>garage.ndriamanarina.InsertReparation</servlet-class> 
</servlet>
<servlet-mapping> 
    <servlet-name>InsertReparation</servlet-name>
    <url-pattern>/inserer.jsp</url-pattern>
</servlet-mapping>

<servlet> 
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>garage.amby.ClientServlet</servlet-class> 
</servlet>
<servlet-mapping> 
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/client</url-pattern>
</servlet-mapping>

<servlet> 
    <servlet-name>FicheServlet</servlet-name>
    <servlet-class>garage.amby.FicheServlet</servlet-class> 
</servlet>
<servlet-mapping> 
    <servlet-name>FicheServlet</servlet-name>
    <url-pattern>/fiche</url-pattern>
</servlet-mapping>

<servlet> 
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>garage.ndriamanarina.UpdateServlet</servlet-class> 
</servlet>
<servlet-mapping> 
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update.jsp</url-pattern>
</servlet-mapping>

<servlet> 
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>garage.ndriamanarina.DeleteServlet</servlet-class> 
</servlet>
<servlet-mapping> 
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete.jsp</url-pattern>
</servlet-mapping>

<servlet> 
    <servlet-name>ModifierServlet</servlet-name>
    <servlet-class>garage.razafindramasy.ModifierServlet</servlet-class> 
</servlet>
<servlet-mapping> 
    <servlet-name>ModifierServlet</servlet-name>
    <url-pattern>/modif.jsp</url-pattern>
</servlet-mapping>

<servlet> 
    <servlet-name>FactureServlet</servlet-name>
    <servlet-class>garage.razafindramasy.FactureServlet</servlet-class> 
</servlet>
<servlet-mapping> 
    <servlet-name>FactureServlet</servlet-name>
    <url-pattern>/fact.jsp</url-pattern>
</servlet-mapping>

</web-app>